
  <mat-card class="example-card" fxLayout="column" fxLayoutAlign="center center">
    <mat-card-header>
      <mat-card-title>{{ car?.brand }}</mat-card-title>
      <mat-card-subtitle>{{ car?.price | number: "1.0-0" }} &euro;</mat-card-subtitle>
    </mat-card-header>
    <img  mat-card-lg-image [src]="car?.url" alt="Photo of a car">
    
    <mat-card-actions>
      <button mat-button
      *ngIf="!inCart; else elseBlock"
      mat-raised-button
      color="primary"
      (click)="editCollection()"
    >
      Rent
    </button>

    <ng-template #elseBlock
      ><button mat-button mat-raised-button color="accent" (click)="editCollection()">
        <span class="material-icons"> N/A </span>
      </button>
    </ng-template>
    </mat-card-actions>

  </mat-card>
