ng-radio .mat-radio-group {
  display: flex;
}

.xy ng-radio .mat-radio-group {
  flex-direction: row;
}


ng-radio mat-label {
  margin: 10px;
  font-size: 12px;
  color: blue;
}

.ml-20 {
  margin-left: 10px;
}
