<ng-loader *ngIf="showLoader"></ng-loader>

<div fxLayout="column" fxLayoutAlign="space-around center">
  <h1>Users</h1>
</div>

<div fxLayout="column" fxLayoutAlign="space-around start">

  <div class="xy ml-20" fxLayout="row" fxLayoutAlign=" end">
    <ng-radio
      (getValue)="getRadioValue($event)"
      [dataSource]="radioProps"
      [label]="'Filter By '"
      [queryText]="'$..value'"
      [queryValue]="'$..value'"
      [returnValueAs]="'string'"
    >
    </ng-radio>

    <ng-container *ngIf="filterPlaceholder">

      <ng-input fxFlexOffset="5"
        (getValue)="getFilterValue($event)"
        [placeholder]="filterPlaceholder"
        [type]="'text'"
        [required]="false"
        [width]="'250px'">
      </ng-input>

      <ng-button fxFlexAlign="center"
        (click)="onFilterClick()"
        [color]="'primary'"
        [matButton]="'mat-fab'"
        [matIcon]="'search'"
        [width]="'50%'">
      </ng-button>
    </ng-container>


  </div>


  <ng-dynamic-table fxFlexFill
                    (handlePage)="getPagedData($event)"
                    [serverSidePagination]="true"
                    [dataSource]="users"
                    [fileName]="'usersTableDefinition'"
                    [page]="page">
  </ng-dynamic-table>

</div>
