<mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center">
  <a mat-button routerLink="/">Best Cars</a>

  <span fxFlex></span>

  <ng-security [roles]="'ROLE_USER'">
    <a mat-button routerLink="/users">Users</a>
  </ng-security>

    <a mat-button routerLink="/register">Register</a>
  <ng-container *ngIf="!ngSecurityService.isAuthenticated(); else elseBlock">
    <a mat-button routerLink="/login">Login</a>
  </ng-container>

  <ng-template #elseBlock>
    <div fxFlexAlign="end" style="font-size: 8px"> Welcome, {{ngSecurityService.getUserDetails()?.username}}</div>
    <button mat-button (click)="logout()">Logout</button>
  </ng-template>

</mat-toolbar>
