<router-outlet></router-outlet>
<div class="registrationForm" fxLayout="row wrap" fxLayoutAlign="center center">
  <h2 fxLayoutAlign="center center" fxFlex="100">Register</h2>


  <form fxFlex="50" fxLayout="column" fxLayoutAlign="space-around center" class="example-form" [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
    <!-- Username -->

    <mat-form-field>
      <mat-label>Username</mat-label>
      <input matInput ngValidator fieldName="$.username" formName="user_registration">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Email</mat-label>
      <input matInput ngValidator fieldName="$.email" formName="user_registration">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Firstname</mat-label>
      <input matInput ngValidator fieldName="$.firstName" formName="user_registration">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Lastname</mat-label>
      <input matInput ngValidator fieldName="$.lastName" formName="user_registration">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Password</mat-label>
      <input type="password" matInput ngValidator fieldName="$.password" formName="user_registration">
    </mat-form-field>

    <mat-form-field>
      <mat-label>Confirmation password</mat-label>
      <input type="password" matInput ngValidator fieldName="$.confirmationPassword" formName="user_registration">
    </mat-form-field>


    <div fxLayoutAlign="center center">
      <button type="submit" mat-raised-button color="primary">Register</button>
    </div>

  </form>
</div>
